.container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  height: 50px;
}
.container-top {
  background-color: #ff7722;
}
.container-middle {
  background-color: #fff;
}
.container-bottom {
  background-color: green;
}
#display {
  color: blue;
}
