* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: aliceblue;
  font-family: "Roboto", sans-serif;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-custom {
  gap: 20px;
  height: 100vh;
  margin-top: -5%;
}
.about__thirukural {
  text-align: center;
  line-height: 1.6;
}

.tk__input {
  gap: 10px;
}
.display {
  width: 50%;
  margin-top: 10px;
  text-align: center;
}
.tk {
  color: blue;
  font-size: 24px;
  text-align: left;
  line-height: 1;
  font-weight: 700;
}
.tamil__meaning,
.english__meaning {
  font-size: 18px;
}
@media (max-width: 576px) {
  body {
    font-size: 16px;
  }
  .container-custom {
    gap: 20px;
    height: 100vh;
    margin-top: -2%;
  }
  .display {
    width: 100%;
  }
  .tk {
    font-size: 16px;
  }
  .tamil__meaning,
  .english__meaning {
    font-size: 16px;
  }
}
@media (max-width: 376px) {
  body {
    font-size: 14px;
  }
  .tk {
    font-size: 14px;
  }
  .tamil__meaning,
  .english__meaning {
    font-size: 14px;
  }
}
