@media screen and (max-width: 650px) {
  .catsCard {
    width: 33.3333%;
    height: 15rem;
    object-fit: contain;
  }
  .modal {
    width: 70%;
    height: 40%;
  }
}

@media screen and (max-width: 450px) {
  .search-cat {
    font-size: 1.2rem;
  }
  .catsCard {
    width: 33.3333%;
    height: 15rem;
    object-fit: contain;
  }
  .modal {
    width: 60%;
    height: 30%;
  }
  .noResults {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 370px) {
  .nav-card {
    height: 8rem;
  }
  .search {
    padding: 8px;
  }
  .search-cat {
    font-size: 1rem;
  }
  .search-icon {
    height: 14px;
    width: 14px;
  }
  .cats {
    margin-top: 9rem;
  }
  .catsCard {
    width: 33.3333%;
    height: 12rem;
    object-fit: contain;
  }
  .modal {
    width: 60%;
    height: 30%;
  }
  .noResults {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 280px) {
  .search-cat {
    font-size: 0.8rem;
  }
  .search {
    padding: 5px;
  }
  .search-icon {
    height: 1rem;
    width: 1rem;
  }
  .catsCard {
    width: 50%;
    height: 15rem;
    object-fit: contain;
  }
  .modal {
    width: 60%;
    height: 30%;
  }
  .noResults {
    font-size: 1.5rem;
  }
}
