* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.custom-container {
  background-color: rgb(165, 204, 241);
  margin: 0 auto;
  /* max-width: 1000px; */
}
.metadata {
  max-width: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form {
  display: flex;
  /* margin: 0 auto; */
  flex-direction: column;
  gap: 10px;
}
.elements {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.elements > input {
  width: 75%;
  padding: 10px;
}
.inner_container {
  width: 75%;
  padding: 10px 0px;
}
.inner_container > select {
  width: 100%;
}
#btn-submit {
  margin: 0 auto;
  width: 200px;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
